/* Estilos base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: row; 
    justify-content: space-between;
  }

  .nav-logo {
    position: static; 
    transform: none; 
    justify-content: flex-start; 
  }

  .nav-links {
    justify-content: flex-start; 
  }

  .nav-link {
    font-size: 16px; 
  }

  .right-links {
    display: none; 
  }
}
