@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.nav-links {
  display: flex;
  gap: 15px; 
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #5d00a8;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  height: 30px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-logo {
    position: static;
    transform: none;
    order: 1;
    margin-left: 10px; 
  }

  .nav-links {
    order: 2;
    gap: 10px; 
  }

  .left-links,
  .right-links {
    display: none;
  }

  .nav-link {
    font-size: 16px;
    margin-right: 10px; 
  }
}
