/* Estilos base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; /* Aumenta o padding para aumentar a altura */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Permite quebra de linha em dispositivos menores */
  height: 80px; /* Define a altura da navbar */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px; /* Reduz o tamanho da logo */
}

/* Media query para dispositivos menores */
@media (max-width: 600px) {
  .navbar {
    flex-direction: row; /* Alinha os itens em linha */
    justify-content: space-between;
  }

  .nav-logo {
    justify-content: flex-start; /* Alinha a logo à esquerda */
  }

  .nav-links {
    justify-content: flex-end; /* Alinha os links à direita */
    flex: 1; /* Permite que os links ocupem o espaço restante */
  }

  .nav-link {
    font-size: 16px; /* Reduz o tamanho da fonte para caber melhor em telas menores */
  }
}
